{% extends 'base.html' %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
<div class="content-card">
    <form method="post" enctype="multipart/form-data" class="row g-3">
        {{ form.hidden_tag() }}
        <div class="col-md-4">{{ form.category_id.label(class="form-label") }}{{ form.category_id(class="form-select") }}</div>
        <div class="col-md-5">{{ form.description.label(class="form-label") }}{{ form.description(class="form-control") }}</div>
        <div class="col-md-3">{{ form.supplier.label(class="form-label") }}{{ form.supplier(class="form-control") }}</div>
        <div class="col-md-4">{{ form.amount.label(class="form-label") }}{{ form.amount(class="form-control") }}</div>
        <div class="col-md-4">{{ form.expense_date.label(class="form-label") }}{{ form.expense_date(class="form-control") }}</div>
        <div class="col-md-4">{{ form.status.label(class="form-label") }}{{ form.status(class="form-select") }}</div>
        <div class="col-md-6">{{ form.receipt.label(class="form-label") }}{{ form.receipt(class="form-control") }}</div>
        <div class="col-md-6 d-flex align-items-end">{{ form.recurring(class="form-check-input me-2") }}{{ form.recurring.label(class="form-check-label") }}</div>
        <div class="col-12">{{ form.notes.label(class="form-label") }}{{ form.notes(class="form-control", rows="4") }}</div>
        <div class="col-12">{{ form.submit(class="btn btn-primary") }}</div>
    </form>
</div>
{% endblock %}

